ENV=production
PORT=4000

TG_API_ID=924859
TG_API_HASH="a4c9a18cf4d8cb24062ff6916597f832"
ADMIN_USERNAME="kirodewal"

DATABASE_URL="postgresql://qbf41968:8ClDsp3OCgwgOWJu@b70af05b-76e4-4bca-a1f5-23dbb4c6a74e.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32716/"

IS_MAINTENANCE=

CACHE_FILES_LIMIT=20GB
DB_PASSWORD="kkraju00@"

# change the values below
API_JWT_SECRET=WDpojmXTH4ZPl3N2khUPPcAezLLpc8Mm
FILES_JWT_SECRET=nWHVW3arIdjC8Vy3g9rU2N6sKWmfPp7Z
